beautifulsoup4==4.3.2
lxml==3.4.1
mercurial==3.2.3
progressbar==2.3
progressbar2==2.7.3
requests==2.5.1
stevedore==0.12
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2